<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-relative" style="box-shadow: 0 2px 12px #8e44ad;">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <img src="/icon.png" alt="Harry Potter" style="width:40px; animation: float 2s infinite ease-in-out;">
      <span class="fw-bold text-warning" style="text-shadow: 0 2px 8px #23272b, 0 0 12px #f7ca18; font-family: 'Cinzel', serif;">Hogwarts</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <% if current_page?(root_path) %>
                <span class="nav-link active text-white" style="pointer-events:none;">Home</span>
              <% else %>
                <a class="nav-link" href="/">Home</a>
              <% end %>
          </li>
          <% if wizard_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#">Welcome, <%= current_wizard.name %></a>
            </li>
            <li class="nav-item">
              <%= link_to "Wizards", wizards_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "My Profile", wizard_path(current_wizard), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= button_to "Logout", destroy_wizard_session_path, method: :delete, class: "nav-link", form_class: "d-inline" %>
            </li>
          <% else %>
            <li class="nav-item">
                <% if current_page?(new_wizard_session_path) %>
                  <span class="nav-link active text-white" style="pointer-events:none;">Login</span>
                <% else %>
                  <%= link_to "Login", new_wizard_session_path, class: "nav-link" %>
                <% end %>
            </li>
            <li class="nav-item">
                <% if current_page?(new_wizard_registration_path) %>
                  <span class="nav-link active text-white" style="pointer-events:none;">Register</span>
                <% else %>
                  <%= link_to "Register", new_wizard_registration_path, class: "nav-link" %>
                <% end %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
  <!-- Magical bats animation -->
  <div class="magic-bats">
    <span class="bat" style="left:10%; animation-delay:0s;"></span>
    <span class="bat" style="left:30%; animation-delay:0.5s;"></span>
    <span class="bat" style="left:60%; animation-delay:1s;"></span>
    <span class="bat" style="left:80%; animation-delay:1.5s;"></span>
  </div>
</nav>
